@use 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: variables.$LightGrayishCyan;
    font-family: variables.$InputFont;
    font-size: 24px;
}

.attribution { font-size: 11px; text-align: center; }